<%= form_tag({action: "register_device"}, {class:
  "form-inline"})  do %>
  <div class="form-group">
    <%= label_tag(:name, "Plant Name") %>
    <%= text_field_tag(:name, nil, placeholder: 'Steve', class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:mac_address, "MAC Address") %>
    <%= text_field_tag(:mac_address, nil, placeholder: '123ab', class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:auto_water_period_days, "Water every (days)") %>
    <%= text_field_tag(:auto_water_period_days, 2, placeholder: 'days', class: "form-control") %>
    <%=form_for @device.auto_water_hour_utc do |f| %>
    <%= f.datetime_select(:auto_water_hour_utc, :default => { :hour => 23, :minute => 59 }) %>
    <% end %>
    <!-- <%= label_tag(:auto_water_hour_utc, "Time") %>
    <%= text_field_tag(:auto_water_hour_utc, 7, placeholder: 'hour', class: "form-control") %> -->
  </div>


  <%= submit_tag("Register Device") %>
<% end %>

<ul> <% @devices.each do |device| %>
  <li><%= device.name %>
    <a class="btn btn-primary btn-lg water_button"
      href="#"
      role="button"
      data-mac-address="<%=device.mac_address%>">
      Water Now
    </a>
  </li>
  <% end %>
</ul>
