<div class= "col-md-12">
<div class="panel panel-primary">
  <div class="panel-heading">Register Plant</div>
  <div class="panel-body">
<%= form_tag({action: "register_device"}, {class:
  "form-inline"})  do %>
  <%= hidden_field_tag(:timezone_offset) %>
  <div class="form-group">
    <%= label_tag(:name, "Plant Name") %>
    <%= text_field_tag(:name, nil, placeholder: 'Steve', required: "required", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:mac_address, "Device ID") %>
    <%= text_field_tag(:mac_address, nil, placeholder: '123ab', required: "required", class: "form-control") %>
  </div>
  <div class="form-group">
    <%= label_tag(:auto_water_period_days, "Water every (days)") %>
    <%= text_field_tag(:auto_water_period_days, 2, placeholder: 'days', required: "required", class: "form-control") %>
    <%= select_tag(:auto_water_hour_local, options_for_select([
      ["12am", "0"],
      ["1am", "1"],
      ["2am", "2"],
      ["3am", "3"],
      ["4am", "4"],
      ["5am", "5"],
      ["6am", "6"],
      ["7am", "7"],
      ["8am", "8"],
      ["9am", "9"],
      ["10am", "10"],
      ["11am", "11"],
      ["12pm", "12"],
      ["1pm", "13"],
      ["2pm", "14"],
      ["3pm", "15"],
      ["4pm", "16"],
      ["5pm", "17"],
      ["6pm", "18"],
      ["7pm", "19"],
      ["8pm", "20"],
      ["9pm", "21"],
      ["10pm", "22"],
      ["11pm", "23"],
      ["12pm", "24"]
      ])) %>
      <%= submit_tag("Register") %>
    <% end %>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Plants</div>
  <div class="panel-body">
    <table class = "table table-responsive">
      <%= label_tag(:name, "Plant Name") %>
      <!-- <tr>
        <th> Plant </th>
      </tr> -->
      <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td>
        <td><a class="btn btn-primary water_button"
          href="#"
          role="button"
          data-mac-address="<%=device.mac_address%>">
          Water Now
          </a>
        </td>
        <td><%= link_to "Edit", edit_device_path(device), class: "btn btn-warning" %></td>
        <td><%= link_to "Delete", device_path(device), method: :delete, data: { confirm: 'Delete Book, For Real?' }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    </table>

  </div>
</div>
</div>
