<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'favicon.ico' %>
 <title> Water Those</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
   <div class="container-fluid">
   <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
     <!-- <a class="navbar-brand" href="#"></a> -->
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <ul class="nav navbar-nav">
       <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>

     </ul>
   <!-- code for the right side of the navbar -->
   <ul class="nav navbar-nav navbar-right">
     <% if current_user.nil? %>
       <li><%= link_to "Login", root_path %></li>
       <li><%= link_to "Sign Up", new_user_path %></li>
     <% else %>
     <li><%= link_to "Manage Devices", user_path(current_user) %></li>
    <li><%= link_to "Logout", logout_path %></li>
     <% end %>
   </ul>
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  <!-- jumbotron -->
  <div class="jumbotron">
    <div class="jumbotron-contents">
      <h1>Water Those</h1>
      <div class="jumbotron-details">
        <p>Don't kill your plants.</p>
        <p><i class="fa fa-globe"></i> Water your plants from any location while you are away. </p>
        <p> <i class="fa fa-calendar"></i>Set up an automatic watering schedule. </p>
        <p> Water multiple plants with different settings. </p>
        <!-- <small> Add about project </small> -->
      </div>
    </div>
  </div>
  <!-- end jumbotron -->

  <div class="contents">
    <%= yield %>
  </div>
  <footer>
  </footer>
</body>
</html>
