<!-- <div class="jumbotron">
  <div class = "container">
    <h1> Water </h1>
    <h1> Those </h1>
    <h2> DON'T KILL YOUR PLANTS. </h2>
  </div>
</div>
<div class = "container">
    <%= button_to "Water", 'https://waterthose.herokuapp.com/water', class: "btn btn-info" %>
</div> -->

<nav class="navbar navbar-default">
 <div class="container-fixed">
 <!-- Brand and toggle get grouped for better mobile display -->
 <div class="navbar-header">
   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
   </button>
   <a class="navbar-brand" href="#"><image-url("planticon1.png")></a>
 </div>

 <!-- Collect the nav links, forms, and other content for toggling -->
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav">
     <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
     <li><a href="#">About</a></li>
     <li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
   <ul class="dropdown-menu">
     <li><a href="#">Action</a></li>
     <li><a href="#">Another action</a></li>
     <li><a href="#">Something else here</a></li>
     <li role="separator" class="divider"></li>
     <li><a href="#">Separated link</a></li>
     <li role="separator" class="divider"></li>
     <li><a href="#">One more separated link</a></li>
   </ul>
     </li>
   </ul>
 <!-- code for the right side of the navbar -->
   <ul class="nav navbar-nav navbar-right">
   <li><a href="#">Contact Us</a></li>
   <li class="dropdown">
   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
   <ul class="dropdown-menu">
     <li><a href="#">Action</a></li>
     <li><a href="#">Another action</a></li>
     <li><a href="#">Something else here</a></li>
     <li role="separator" class="divider"></li>
     <li><a href="#">Separated link</a></li>
   </ul>
     </li>
   </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  <div class="container">
 <div class="row">
 <div class="col-md-12">
   <div class="jumbotron">
    <h1>Water</h1>
    <h1>Those</h1>
    <p>Don't kill your plants.</p>
    <p><a class="btn btn-primary btn-lg" id="water_button" href="#" role="button">Water Now</a></p>
   </div> <div class="row">
 <div class="col-md-4">
   <% if current_user %>
    <%= link_to "Log Out", logout_path, class: "btn btn-default" %>
    <%= link_to "Manage Devices", user_path(current_user), class: "btn btn-default" %>

     <% else %>
     <h2>Login</h2>
     <%= form_for(:session_data, {url: sessions_path, class:
       "form-inline"}) do |f| %>
       <div class="form-group">
         <%= f.label :email_address %>:
         <%= f.email_field :email_address, class: "form-control", :required => true %>

         <%= f.label :password %>:
         <%= f.password_field :password, class: "form-control", :required => true %><br>

         <%= f.submit "Login", class: "btn btn-default" %>
     </div>
     <% end %>
     <%=link_to "Sign Up", new_user_path, class: "btn btn-default"%>

  <% end %>


</div>
<div class="col-md-4">
   <h2>Heading</h2>
   <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
   <p><a class="btn btn-default" href="#" role="button">View details »</a></p> </div>
 <div class="col-md-4">
   <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
    <h2>Heading</h2>
   <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
   <p><a class="btn btn-default" href="#" role="button">View details »</a></p> </div>
 </div>
 </div>
 </div>
 <hr>
 <footer>
 <p>© HERRERA 2016</p>
 </footer></div>
 </nav>
